.item {
    height: 2.2em;
    line-height: 2.5em;
    border: 2px solid transparent;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.selected {
    background: rgb(248, 249, 250)
}

.indicator {
    display: inline-flex;
    border: none;
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
    padding: 0.25em;
    margin: auto 0;
    line-height: 1em;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    color: #000;
}

.indicatoroverlay {
    display: inline-flex;
    position: relative;
    left: -2.1em;
    top: -0.1em;
    border: none;
    border-radius: 0.5em;
    width: 2.2em;
    height: 2.2em;
    padding: 0.25em;
    margin: auto 0;
    line-height: 1em;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.indicator:hover {
    opacity: 1;
}

.childindicator {
    display: inline-flex;
    border: none;
    border-radius: 0.5em;
    height: 2em;
    margin: auto 0px auto 0px;
    padding-left: 0.25em;
    padding-right: 0.25em;
    line-height: 1em;
    background: url(https://unpkg.com/ionicons@5.1.2/dist/svg/return-down-forward-outline.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.5;
}

.dots {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/ellipsis-horizontal-outline.svg);
}

.open {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/scan-outline.svg);
}

.started {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/square-outline.svg);
}

.completed {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/checkbox-outline.svg);
}

.link {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/open-outline.svg);
}

.itemDesc {
    height: 1.5em;
    margin-left: 0.33em;
    text-align: left;
    flex-grow: 1;
    line-height: 28px;
    padding: 0;
    border-bottom: 1px solid transparent;
    margin-right: 10px;
    white-space: pre;
}

input.itemDesc {
    background: none;
    padding: 0px;
    border: none;
    margin-top: 2px;
    border-bottom: 1px dashed rgb(108, 117, 125);
    border-top: 1px solid transparent;
}

.handle {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin: auto 0;
    line-height: 1em;
    opacity: 0.05;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out
}

.handle:hover {
    opacity: 0.5;
}