  html {
      box-sizing: border-box;
  }
  
  html,
  body {
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: #FFF;
      font-family: 'Architects Daughter', Helvetica, Arial, sans-serif;
      color: #383c40;
      text-align: left;
  }
  
  a {
      text-decoration: none !important;
  }
  
  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }
  /* [type=button]{
    -webkit-appearance: none !important;
  } */